body{
    max-width:100%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* styling the header */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffff;
    padding-top: 5px;
    /* text-align: center; */
    position: fixed;
    top: 0;
}

/* header contents */
.header-contents{
    margin: auto;
    color: #000;
    display: flex;
    max-width: 1440px;
    width: 88%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    cursor: pointer;
}
nav{
   display: flex;
   align-items: center; 
}
.header-contents ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header-contents ul a{
    margin-right: 3rem;
    text-decoration:none;
}
.header-contents ul a:hover{
    border-bottom: 3px solid #e7332b;
}
.button-container button{
    background-color: #e7332b;
    padding: 11px 35px;
    border-radius: 0 0 8px 0;
    border: 0px;
    color:#fff;
}

/* Styling about */
#about{
    padding-top: 220px;
    display: block;
    max-width: 1440px;
    width:80%;
    margin: auto;
}
.about-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
.about-content{
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    align-items: center;
}
.about-title{

}
.image1-container{
    display: flex;
    justify-content: center;
}
.image1{
    width: 55%;
}
.about-info{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 0.00938em;
    font-style: normal;
    /* font-weight: 800;
    font-size: 40px;
    line-height: 49px; */
    text-align: center;   
}

/* styling the websites section */
#websites{
    padding-top: 50px;
    display: block;
    max-width: 1440px;
    width:80%;
    margin: auto;
}
.websites-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
.websites-group{
    display:inline-flex;
    /* grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 10px;
    padding: 20px;
    grid-row-start: 20px; */
}
.websites-container img{
    width: 55%;
}
/* header h1{
    border: 8px solid #ffffff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
}
nav{
    padding: 20px;
    position: sticky;
    top: 80px;
}
nav ul{
    flex-wrap: wrap;
    justify-content:space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
    color: #5b4f47;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 250px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
#first{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    margin: 50px 0px;
}
#second{
    position:relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50%;
    background-color: #ffffff;
}
#third{
    position: relative;
    margin-block-end: 0px
}
#third span{
    margin-top: 50px;
    justify-content: center;
}
.bio-image{
    width: 100%;
}
section h2{
    width: fit-content;
    font-size: 20px;
    text-align: start;
    color: #5b4f47;
    background-color: #bd9479;
    margin: 100px;
    border: 10px 10px;
    border-radius: 10px;
    padding: 20px;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: grid;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
.links{
    text-align: center;
    margin: 20px 10px;
    white-space: nowrap; 
}
.links li{
    display: contents;
}
.links li a{
    text-align: left;
    text-decoration: none;
    color: #5b4f47;
}
footer{
    background: #5b4f47;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

/*pseudo classes*/
nav li a:hover{
    text-decoration: underline;
    background-color: bisque;
    padding: 3px;
}
nav li:first-child{
    margin: 500px 300px;
}
.links li a:hover{
    text-decoration: underline;
    background-color: bisque;
    padding: 3px;
}
.links li:first-child{
    margin: 50px 1000px;
}
/*responsive styles*/
@media screen and (max-width: 1400px)
{nav{
    position:sticky;
}
nav li{
font-size: 18px;
}
header{
    font-size: 10px;
    padding: 4px 10px;
}
main{
    width: 600px;
}
section h2{
    font-size: 15px;
}
}
@media screen and (max-width: 1000px)
{
header{
    font-size: 8px;
    padding: 4px 10px;
}
nav{
    position:relative;
}
nav li{
    font-size: 15px;
    }
div{
display: block;
font-size: 10px;
}
.bio{
    width: 100%;
}
.bio-image{
    width: 100%;
}
nav li{
    display: inline;
}
nav li:first-child{
    margin: 50px 20px;
}
}
@media screen and (max-width: 900px)
{
header{
    font-size: 8px;
}
nav{
    position:relative;
}
nav li{
    display: block;
}
nav li:first-child{
    margin: 40px 10px;
}
div{
    display: block;
    font-size: 10px;
    }
    .bio-image{
        width: 100%;
}
.images li{
    width: 100%;
}
}
@media screen and (max-width: 500px)
{
nav{
    padding: 10px;
    top: 10px;
}
}
@media screen and (max-width: 400px)
{
nav{
    padding: 10px;
    top: 10px;
}
}
@media screen and (max-width: 300px)
{
nav{
    padding: 10px;
    top: 10px;
}
}
@media screen and (max-width: 200px)
{
nav{
    padding: 10px;
    top: 10px;
}
} */